<!DOCTYPE html>
<html>
    <head>
        <title>Abe's Portfolio</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    </head>
    <body>

        <!-- Fixed navigation bar -->
        <div class="navbar-fixed">
            <nav class="black">
                <div class="container">                                                         <!-- Centers the text -->
                  <div class="nav-wrapper">
                    <a href="#landing" class="brand-logo">ABRAHAM | MORENO</a>
                    <ul class="right hide-on-med-and-down">
                      <li><a href="#intro">About Me</a></li>
                      <li><a href="#projects">Projects</a></li>
                      <li><a href="#contact">Contact</a></li>
                      <li><a href="resume/resume.pdf" target="_blank">Resume</a></li>
                    </ul>
                  </div>
                </div>
            </nav>
        </div>

        <div class="section landing-section" id="landing">
            <h5 id="mainText" class="center">Hello... I am</h5>
            <h1 class="center">ABRAHAM <b><i>MORENO</i></b></h1>
        </div>

        <div id="intro">
        <div class="section black">
            <div class="container">
                <div class="row center">
                    <div class="col s12 m12 l3">
                        <img class="responsive-img circle" src="images/me.jpg">
                    </div>
                    <div class="col s12 m12 offset-l1 l8 ">
                        <h5 class="center"><b>ABOUT ME</b></h5>
                        <p>
                            Hey there! I'm a 18 year old guy who likes to code(cake day on Feb 7 😁). I love to go to the gym, maintain good health, cook, and code. I play some
                            video games, but soon, college is going to take over. I have really ambitious projects in mind, but the funds are currently lacking. Most importantly:
                            I LOVE COFFEE!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div id="p1" class="parallax-container">
            <div  class="parallax">
                <img style="opacity: 1;" src="https://images.pexels.com/photos/861090/pexels-photo-861090.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s12 center white-text">
                        <h1><b>QUOTE I LIVE BY</b></h1>
                        <h4 >"The sooner you step out of your comfort zone, the sooner you'll realize it wasn't that comfortable at all..."
                            <br>
                            - Eddie Harris Jr.
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="fixed-action-btn vertical hover-div">
            <a class="btn-floating btn-large custom-orange darken-4">
                <i class="fa fa-globe"></i>
            </a>
            <ul>
                <li class="list-item"><a target="_blank" href="http://instagram.com/abemorenosjourney" class="btn-floating insta-color lighten-1"><i class="fab fa-instagram"></i></a></li>
                <li class="list-item"><a target="_blank" href="https://github.com/TheOneAndOnlyAbe" class="btn-floating grey darken-3"> <i class="fab fa-github"></i></a></li>
                <li class="list-item"><a target="_blank" href="https://www.linkedin.com/in/abraham-moreno-ba0a33115/" class="btn-floating blue-grey lighten-1"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>

        <div class="section" id="projects">
            <div class="container">
                <h1 class="header text_b center">COMPLETED PROJECTS</h1>
                <div class="row">
                    <div class="col s12 m4">
                        <div class="card">
                            <a target="_blank" href="https://coffeeshopsample1.herokuapp.com/">
                                <div class="card-image">
                                    <img src="images/card1.png">
                                    <span class="card-title">Coffee Shop Sample</span>
                                </div>
                            </a>
                            <div class="card-content">
                                <p>This is one of my first projects. It is very simple. I made it just to showcase what I could do with simple html and css.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <a target="_blank" href="https://petesitesample.herokuapp.com/">
                                <div class="card-image">
                                    <img src="images/card2.png">
                                    <span class="card-title">Portfolio Sample</span>
                                </div>
                            </a>
                            <div class="card-content">
                                <p>This is another project I had fun with in css. There are some js aspects, but it's mostly html and css.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <a target="_blank" href="https://cristoreysite.herokuapp.com/">
                                <div class="card-image">
                                    <img src="images/card3.png">
                                    <span class="card-title">Portfolio Sample</span>
                                </div>
                            </a>
                            <div class="card-content">
                                <p>This is my most recent project. It has a back-end and a front-end. Here, I used js, html, and css for the most part.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <a target="_blank" href="https://codepen.io/Moreno_Abraham/pen/eovQvw">
                                <div class="card-image">
                                    <img src="images/cmd.png">
                                    <span class="card-title">Command Line</span>
                                </div>
                            </a>
                            <div class="card-content">
                                <p>Got experience using Javascipt Libraries. There's a lot of styling here.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <a target="_blank" href="https://slapsgame.herokuapp.com/">
                                <div class="card-image">
                                    <img src="images/leaderboard.png">
                                    <span class="color-black card-title">Leader Board</span>
                                </div>
                            </a>
                            <div class="card-content">
                                <p>This project was made to keep track of our scores in a card game. This is an express web app with Mongo DB and a Node Js backend.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <a target="_blank" href="https://smallyourl.appspot.com/">
                                <div class="card-image">
                                  <div class="aLittleVisible">
                                    <img src="images/smallurl.png">
                                    <span class="card-title">URL Shortener</span>
                                  </div>
                                </div>
                            </a>
                            <div class="card-content">
                                <p>This project was done using Python for the backend and Jinja for the frontend template. It was deployed using
                                the Google App Engine.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section white-text" id="contact">
          <div class="aLittleVisible">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h1>CONTACT ME</h1>
                    </div>
                </div>
                <div class="specialRow row">
                    <form class="col s12 center" action="/sendMessage" method="POST" autocomplete="off">
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="first_name" type="text" class="validate" name="first">
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="last_name" type="text" class="validate" name="last">
                                <label for="last_name">Last Name</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="email" type="email" class="validate" email="email" name="email">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s8">
                                <textarea id="icon_prefix2" class="materialize-textarea" autocomplete="off" name="message"></textarea>
                                <label for="icon_prefix2">Message</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="icon_telephone" type="tel" class="validate" name="tel">
                                <label for="icon_telephone">Telephone</label>
                            </div>
                        </div>
                        <button class="btn-large waves-effect waves-light" type="submit" name="action">Send
                        </button>
                    </form>
                </div>
            </div>
          </div>
        </div>


        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.im.js"></script>
        <script type="text/javascript" src="/scripts/main.js"></script>
    </body>
</html>
